@media(max-width: 1440px){
    .statistic{
        &__inner{
            background-position: right 258px;
            background-size: 41%;
        }
    }
}


@media(max-width: 1281px){

    .slider__item-img{
        width: 44%;
        bottom: 110px;
        right: 0;
        img{
            width: 100%;
        }
    }
    
    .descr__items .descr__item{
        &::before{
            width: 44px;
            right: -72px;
        }
    }
    .preview{
        padding-right: 15px;
        .preview__content{
            .preview__text{
                margin: 0 125px 0 15px;
            }
            .preview__items{
                .preview__item{
                    margin-bottom: 0;
                    &-content{
                        max-width: 210px;
                    }
                    &-img{
                        width: 140px;
                        height: 140px;
                        margin-right: 35px;
                        img{
                            padding-top: 40px;
                            width: 40%;
                        }
                    }
                }
            }
        }
    }

    .reviews{
        .reviews__items{
            .reviews__item {
                width: 320px;
                &-rate{
                padding-top: 7px;
                text-align: center;
                }
            }
        }
    }

    .quote{
        &__content {
            text-align: center;
            margin: 220px 20px 0 0;
            max-width: 503px;
            z-index: 1;
            &-title{
                font-size: 27px;
            }
            &-text{
                font-size: 14px;
            }
        }
        &__img{
            img{
                width: 500px;
                top: 187px;
                left: 33px;
            }
            &::after{
                height: 400px;
                width: 400px;
                top: 155px;
                left: 85px;
            }
        }
    }


}



@media(max-width: 1228px){
    .descr__items .descr__item{
        &::before{
            width: 32px;
            right: -51px;
        } 
    }

}



@media(max-width: 1130px){

    .header__top-logo{
        margin: 0;
    }
    .descr__items .descr__item{
        &::before{
        right: -24px;
        width: 20px;
        }
    }
    .reviews{
        .reviews__items{
            .reviews__item {
                width: 275px;
                height: auto;
            }
        }
    }
    .contacts{
        .contacts__inner{
            .contacts__form-box{
                &__message{
                    margin-bottom: 30px;
                }
            }
        }
    }
    .footer{
        padding-top: 90px;
        .container{
            padding: 15px;
        }
    }
}

@media(max-width: 1080px){
    .preview{
        .title-box{
            .title{
                font-size: 32px;
                margin-top: 21px;
            }
            .subtitle{
                font-size: 16px;
                margin-top: 18px;
            }
        }
        .preview__content{
            flex-wrap: wrap;
            .preview__text{
                max-width: 920px;
            }
            .preview__items{
                width: 100%;
                max-width: 1025px;
                justify-content: space-around;
                margin-top: 0;
                .preview__item{
                    display: block;
                    max-width: 210px;
                    margin-top: 50px;
                    &-img{
                        margin: 0 auto;
                    }
                    &-content{
                        text-align: center;
                    }
                }
            }
        }   
    }
    .quote{
        height: 472px;
        &__content{
            margin: 80px 20px 0 0;
        }
        &__img{
            img{
                width: 400px;
                top: 100px;
                left: 33px
            }
            &::after{
                top: 37px;
                left: 54px;
            }
        }   
    }
    .footer{
        padding-top: 427px;
    }    
}

@media(max-width: 1060px){
    .header__top-logo{
        margin: 0;
    }
    .descr__items .descr__item{
        &::before{
        display: none;
        }
    }
    .descr__inner{
        margin-bottom: 50px;
    }
    .descr__items{
        flex-wrap: wrap;
        padding: 0px 120px;
        margin-bottom: 30px;
        .descr__item{
            margin: 20px 15px 15px;
        }
    }
    .footer{
        padding-top: 110px;
        .container{
            padding: 15px;
        }
        &__inner{
            display: block;
            .logo{
                padding-bottom: 30px;
            }
            .footer__list{
                display: flex;
                justify-content: space-around;
                padding-bottom: 10px;
                margin-right: 0;
            }
            .footer__social{
                display: block;
            }
        }
        &__copy{
            padding-top: 28px;
        }
    }       
}

@media(max-width: 980px){
    .header__top-search{
        form{
            input{
                width: 380px;
            }
        }   
    }   
    .slider__item{
        .slider__info{
            &-suptitle{
                font-size: 17px;
            }
            &-title{
                font-size: 45px;
            }
            &-subtitle{
                font-size: 21px;
            }
        }
    }    
    .slider__item-img{
        width: 44%;
        bottom: 180px;
        right: 0;
        img{
            width: 100%;
        }
    }
    .slider__counter {
        bottom: 35px;
    }
    .progress{
        bottom: 40px;
    }

    .reviews{
        .reviews__items{
            .reviews__item {
                width: 240px;
                height: auto;
                padding: 18px;
            }
        }
    }

    .quote{
        height: 430px;
        .quote__content {
            margin: 55px 20px 0 0;
            &-title{
                font-size: 19px;
            }
            &-text{
                font-size: 12px;
            }
            &-author{
                font-size: 15px;
            }
        }
        &__img{
            img{
                width: 350px;
                top: 51px;
                left: 20px;
            }
            &::after{
                left: 0;
                top: 0;
            }
        }
    }
    .contacts{
        &__title{
           margin: 28px 0 37px;
        }
        &__inner{
            .contacts__form-box{
                margin-left: 30px;
            }
        }
        &-btn{
            padding: 18px 15px;
        }
    }
    .footer{
        padding-top: 225px;
    }
}

@media(max-width: 880px){
    .descr__items{
        padding: 0px 70px;
    }
    .reviews{
        margin-bottom: 15px;
        .title-box{
            margin-top: 18px;
            .title{
                margin-top: 0;
                font-size: 28px;
            }
            .subtitle{
                font-size: 15px;
                margin-top: 10px;
            }
        }
        .container{
            padding: 0 15px;
        }
        .reviews__items{
            max-width: 600px;
            margin: 0 auto;
            flex-wrap: wrap;
            .reviews__item {
                width: 100%;
                height: auto;
                padding: 18px;
                margin-top: 15px;
            }
        }
    }
    .preview{
        .preview__content{
            position: relative;
            .preview__text-point{
                bottom: 315px;
                width: 20px;
                height: 20px;
                display: block;
            }
            .preview__text{
                border: 20px solid #16062a;
                border-bottom: 30px solid #16062a;
                margin: 0 20px 0 30px;
                overflow: scroll;
                height: 400px;
                &::before{
                    display: none;
                }
                img{
                    display: none;
                }
            }
        }
    }
    .statistic{
        height: 250px;
        &__inner{
            background: none;
            .statistic__title{
                font-size: 82px;
                padding-top: 26px;
            }
            .statistic__subtitle {
                font-size: 16px;
            }
        }
    }
    .quote{
        height: 402px;
        &__img{
            display: none;
        }
        .quote__content {
            margin: 55px auto 0;
            padding: 0 15px;
        }
    }
    .contacts{
        &__inner{
            .contacts__info{
                max-width: 315px;
            }
            .contacts__form-box{
                max-width: 340px;
                input{
                    margin-bottom: 12px;
                }
                textarea{
                    margin-bottom: 15px;
                }
            }
        }
    }
    .footer{
        padding-top: 175px;
    }
}


@media(max-width: 780px) {
    .header__menu-btn{
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
    }
    .menu__list{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 76px;
        z-index: 5;
        
    }
    .menu__list li {
        display: block;
        text-align: center;
        padding: 0;
    }
    .menu__list a {
        display: block;
        background-color: #161a3d;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        width: 100%;
    }
    .menu__list li+li {
        margin-left: 0;
    }
    .header__top-search{
        position: absolute;
        top: 76px;
        left: 45px;
    }
    .slider__item-img{
        width: 55%;
        bottom: 97px;
        left: 0;
    }
    .slider__item .slider__info{
        position: unset;
        &-subtitle{
            margin-bottom: 275px;
        }
    }
    .descr__items{
        padding: 0;
    }

}


@media(max-width: 700px){
    .preview{
        .preview__content{
            margin-top: 20px;
            .preview__text-point{
                bottom: 285px;
            }
            .preview__items{
                width: 100%;
                max-width: 1025px;
                justify-content: space-around;
                .preview__item{
                    max-width: 210px;
                    display: block;
                        &-img{
                         height: 110px;
                         margin: 0 auto;
                            width: 110px;
                         img{
                            padding-top: 30px;
                        }
                    }
                }  
            }   
            &-content{
                text-align: center;
            }                
        } 
    }
}

@media(max-width: 685px){
    .footer{
        padding-top: 154px;
    }

}

@media(max-width: 662px){
    .preview{
        .preview__content{
            .preview__text-point{
                top: 375px;
            }
        }
    }
}

@media(max-width: 646px){
    .preview{
        .preview__content{
            position: relative;
            .preview__text-point{
                top: 375px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .descr__items{

        .descr__item{
            margin: 20px 12px 15px;
        }
    }
    .contacts{
        .container{
            padding: 0 15px;
        }
        &__title{
            margin: 11px 0 11px;
        }
        &__inner{
            flex-wrap: wrap;
            margin: 0 auto;
            .contacts__info{
                max-width: 568px;
                margin: 0 auto;
                &-list{
                    width: 100%;
                    text-align: center;
                    &__email{
                        margin-bottom: 0;
                    }
                    &__adress{
                        margin-bottom: -70px;
                    }
                }
                &-worktime{
                    max-width: 190px;
                    margin: 0 auto;
                }
            }
            .contacts__form-box{
                margin: -77px auto;
                width: 100%;
                .contacts__form-box__message{
                    margin-bottom: 10px;
                }
                .contacts-btn{
                    float: none;
                    padding: 18px 15px;
                }
            }

        }
    }
    .footer{
        padding-top: 90px;
        .footer__inner{
            .footer__list{
                font-size: 15px;
                padding-bottom: 20px;
            }
        }
    }   
}

@media(max-width: 590px){
    .descr{

        .btn{
            padding: 17px 20px
        }
    }
    .descr .descr__inner{
        .title-box{
            .title{
                margin-top: 20px;
            }
        }
    }   
    .descr__items{
        .descr__item{
            max-width: 170px;
                &-img{
                height: 120px;
                width: 120px;
                img{
                    width: 40%;
                    padding-top: 30px;
                }
            }
        }
    }
    .footer{
        padding-top: 170px;
    }  
}

@media(max-width: 575px){
    .slider__item-img{
        width: 72%;
    }
    .header__top-search{
        form{
            input{
                width: 181px;
                &:focus{
                    width: 277px;
                    background-color: #161b3f;
                    position: absolute;
                    padding-left: 40px;
                    z-index: 5;
                }
            }
        }
    }
    .slider{
        .slider__inner{
            .slider__item{
                .slider__info{
                    &-subtitle{
                        margin-bottom: 280px;
                    }
                }
            }
        }
    }
    .slider__info .btn{
        max-width: 240px;
        padding: 17px 53px;
    }
    .slider__item .slider__info{
        &-suptitle{
            font-size: 15px;
        }
        &-title{
            font-size: 40px;
        }
        &-subtitle{
            margin-bottom: 305px;
            font-size: 19px;
        }
    }
    .progress{
        width: 228px;
        height: 1px;
        right: 95px;
    }
    .slider__inner{
        margin-right: 28px;
    }
    .slider .container{
        padding: 0px 26px 0 30px;
    }
    .header .container{
        padding: 0px 26px 0 30px;
    }
    .header__top-search{
        left: 15px;
    }
    .progress{
        width: 200px;
        right: 90px;
    }
    .slider__counter{
        bottom: 35px;
        right: 35px;
    }
    .preview{
        .preview__content{
            .preview__text{
                p{
                    font-size: 12px;
                }
                h3{
                    font-size: 16px;
                }
            }
        }
    }
    .reviews{
        .reviews__items{
            .reviews__item {
                padding: 12px;
               &-img{
                margin-bottom: 10px;
               }
               &-text{
                padding-bottom: 8px;
               }
            }
        }
    }
    .contacts{
        &__inner{
            .contacts__form-box{
                margin: 0 auto;
                .contacts-btn{
                    margin-top: 40px;
                }
            }
        }
    }
    .footer{
        padding-top: 122px;
    }  

}
@media(max-width: 540px){
    .contacts{
        &__title {
            margin: 42px 0 37px;
        }
        &__inner{
            .contacts__form-box{
                margin: -10px auto 0;
            }
            .contacts__info-list{
                &-email{
                    margin-bottom: 32px;
                }
            }
        }
    }
    .footer{
        padding-top: 75px;
    }  
}


@media(max-width: 530px){
    .descr .container{
        padding: 0 15px;
    }
    .descr .descr__inner{
        margin-bottom: 8px;
        .title-box{
            .title{
                font-size: 24px;
            }
            .subtitle{
                font-size: 13px;
            }
        }
    }   
    .descr__items{
        margin: 15px 0;
        .descr__item{
            margin: 15px auto;
        }
    }
    .preview{
        .title-box{
            margin: 20px auto 0;
            .title{
                margin-top: 0;
                font-size: 30px;
            }
            .subtitle{
                margin-top: 10px;
            }
        }
    }
    .statistic{
        height: 225px;
        .statistic__inner{
            .statistic__title{
                font-size: 75px;
                padding: 27px;
            }
            .statistic__subtitle{
                font-size: 16px;
            }
        }
    }
    .contacts{
        &__inner{
            .contacts__form-box{
                margin: 0 auto;
                .contacts-btn{
                    margin-top: 40px;
                }
            }
        }
    }
    .footer{
        padding-top: 200px;
        .footer__inner{
            .footer__list{
                display: none;
            }
        }
    }  
}

@media(max-width: 435px){
    .slider{
        .slider__inner{
            .slider__item{
                .slider__info{
                    &-subtitle{
                        margin-bottom: 235px;
                    }
                }
            }
        }
    }
}


@media(max-width: 435px){
    .contacts{
        &__title {
            margin: 10px;
        }
        &__inner{
            .contacts__form-box{
                margin: -64px auto 0;
                .contacts-btn{
                    margin-top: 0;
                }
            }
            .contacts__info{
                &-list{
                    font-size: 14px;
                    &__adress{
                        margin-bottom: -70px;
                    }
                    &__email{
                    margin-bottom: 0;
                    }
                } 
                &-worktime{
                    font-size: 13px;
                    max-width: 155px;
                }
            }
        }
    }
    .footer{
        padding-top: 45px;
    }  
}

// @media (max-width: 390px){
//     .descr__items{

//         .descr__item{
//             max-width: 132px;
//             margin: 12px 0px;
//             &-img{
//                 span{
//                     left: 7px;
//                 }   
//             }
//             &-title{
//                 margin-top: 5px;
//                 font-size: 15px;
//                 line-height: 40px;
//             }
//             &-text{
//                 font-size: 12px;
//                 line-height: 17px;
//             }
//         }
//     }

// }


@media(max-width: 370px){
    .slider{
        .slider__inner{
            .slider__item{
                .slider__info{
                    .slider__info-title{
                        font-size: 31px;
                    }
                    .slider__info-subtitle{
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .descr__items{
        .descr__item{
            max-width: 132px;
            margin: 12px 0px;
            &-img{
                span{
                    left: 7px;
                }   
            }
            &-title{
                margin-top: 5px;
                font-size: 15px;
                line-height: 40px;
            }
            &-text{
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
    .preview{
        .preview__content{
            .preview__text{
                p{
                    font-size: 10px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(max-width: 350px){
    .slider__info .btn{
        max-width: 200px;
        padding: 17px 40px;
    }
    .slider__item .slider__info{
        &-subtitle{
            margin-bottom: 275px;
        }
    }
    .slider__item-img{
        width: 100%;
        bottom: 77px;
    }
}


@media(max-width: 330px){
    .statistic{
        height: 210px;
        .statistic__inner{
            .statistic__title{
                font-size: 67px;
                padding: 14px;
            }
            .statistic__subtitle{
                font-size: 14px;
            }
        }
    }

    .quote{
        height: 380px;
        &__content{
            margin: 32px auto 0;
            &-author{
                margin-bottom: 22px;
            }
        }
    }

}